*{
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: rgb(35, 37, 49);
    color: white;
}

.title-bar{
    -webkit-app-region: drag;
    display: flex;
    text-align: left;
    background-color: rgb(16, 31, 58);
    color: white;
    width: 100%;
    padding: 0;
}

.title-bar h1{
    color: white;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    flex-grow: 100;
}

.title-btn{
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: rgb(29, 28, 44);
    color: white;
    border: none;
    padding: 0px 25px;
    font-size: 10px;
    transition-duration: 0.1s;
}

.title-btn:hover{
    background-color: rgb(20, 20, 26);
}