* {
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    color: rgb(53, 52, 52);
}

.title-bar {
    -webkit-app-region: drag;
    display: flex;
    text-align: left;
    background-color: rgb(36, 66, 121);
    color: rgb(32, 32, 32);
    width: 100%;
    padding: 0;
}

.title-bar .filler {
    width: 60px;
}

.title-bar h1 {
    color: white;
    padding: 10px 20px;
    margin-left: 80px;
    margin: 0;
    font-size: 20px;
    flex-grow: 100;
}

.title-btn {
    -webkit-app-region: no-drag;
    cursor: pointer;
    background-color: rgb(26, 22, 87);
    color: white;
    border: none;
    padding: 0px 25px;
    font-size: 10px;
    transition-duration: 0.1s;
}

.title-btn:hover {
    background-color: rgb(20, 20, 26);
}

.title-bar .red:hover {
    background-color: rgb(184, 28, 28);
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-grow: 100;
    overflow: hidden;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60px;
    height: 100%;
    background-color: rgb(46, 50, 109);
    z-index: 1;
}

.sections button {
    margin: 0;
    cursor: pointer;
    color: white;
    border: none;
    background: inherit;
    text-align: center;
    padding: 10px;
    height: 60px;
    font-size: 20px;
    transition-duration: 0.2s;
}

.sections button:hover {
    background-color: rgb(57, 63, 134);
    color: white;
}

.sections .active {
    background-color: #eee;
    color: #222;
}

.sections .active:hover {
    background-color: #eee;
    color: #222;
}

.fill {
    display: flex;
    flex-grow: 100;
}

.content {
    display: flex;
    flex-grow: 100;
    padding: 20px;
    justify-content: center;
}

.content h1 {
    position: relative;
    color: #333;
    font-size: 30px;
    animation: enter-top 0.5s;
}

@keyframes enter-top {
    from {
        opacity: 0;
        top: -20px;
    }
    to {
        opacity: 1;
        top: 0;
    }
}
